@keyframes buttonHoverFadeDark
{
  0%
  {
    background-color: #D0D0D0;
  }
  100%
  {
    background-color: #C0C0C0;
  }
}

@keyframes buttonHoverFadeLight
{
  0%
  {
    background-color: #C0C0C0;
  }
  100%
  {
    background-color: #D0D0D0;
  }
}

@keyframes colorFadeIn
{
  0%
  {
    filter: grayscale(1.0);
  }
  100%
  {
    filter: grayscale(0.0);
  }
}

@keyframes colorFadeOut
{
  0%
  {
    filter: grayscale(0.0);
  }
  100%
  {
    filter: grayscale(1.0);
  }
}

body
{
  margin: 0;
}

button
{
  border: none;
  border-radius: 4px;

  animation: buttonHoverFadeLight 0.3s linear;
 
  background-color: #D0D0D0;

  outline: none;

  color: #202020;

  height: 2em;
}

button:hover
{
  animation: buttonHoverFadeDark 0.3s linear;
  background-color: #C0C0C0;
}

button:active
{
  animation: buttonHoverFadeLight 0.3s linear;
}

button:pre
{
  animation: buttonHoverFadeDark 0.3s linear;
  background-color: #C0C0C0;
}

.noverflow
{
  width: 20em;

  overflow: hidden;
}

.logoBar
{
  width: 100%;
  height: 8em;
}

.bodyContainer
{
  width: 100%;

  background-color: #E0E0E0;
}

.footer
{
  width: 100%;
  height: 0.8em;

  border-top: 1px solid #C0C0C0;

  background-color: #E0E0E0;
}

.footer > #footerleft
{
  margin: 0;
  padding: 0;

  float: left;
}

.footer > #footerleft > p
{
  margin: 0;

  font-size: 8px;

  color: #202020;
}

.footer > #footerright
{
  margin: 0;
  padding: 0;
  
  float: right;
}

.footer > #footerright > img
{
  float: left;

  margin-left: 0.25em;

  width: 0.75em;
  height: 0.75em;

  animation: colorFadeOut 0.3s linear;
  filter: grayscale(1.0);
}

.footer > #footerright > img:hover
{
  animation: colorFadeIn 0.3s linear;
  filter: grayscale(0.0);
}

.error
{
  color: #EE5555;

  font-size: 12px;
}

.error > *
{
  color: #EE5555;
}

#content
{
  margin: 0em 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#content > dl > dd:not(:first-child), #content > dl > dt:not(:first-child)
{
  margin-top: 1em;
}

#content > dl > dd
{
  float: left;

  margin: 0 0;
  margin-right: 1em;
}

#content > dl > dd > input[type="number"]
{
  width: 3em;
}

#content > button
{
  margin: 0.2em;
  width: 100%;
}

#update
{
  border: 2px solid #202020;
}

#logo
{
  width: 100%;
  height: 100%;
}